body {
    font-family: "Plus Jakarta Sans" , sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

.container{
    flex: 1 !important;
}

/* Navbar */
.navbar {
    height: 5rem !important;
    background-color: white !important;

}

.fa-compass{
    color: #fe424d !important;
    font-size: 2rem !important;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links {
    text-decoration: none !important;
    color: #222222 !important;
}

.f-info-links a:hover{
    text-decoration: underline !important;
}

.f-info-links,.f-info-socials , .f-info-brand {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    
}

.f-info-socials i {
    font-size: 1.2rem !important;
    margin-right: 1rem !important;
}

.f-info {
    text-align: center !important;
    height: 8rem !important;
    background-color: #ebebeb !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    align-items: center !important; 
}   

/* cards */
.card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;

}

.listing-link{
    text-decoration: none !important;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0 !important;
}

.card-img-overlay:hover{
    opacity: 0.3 !important;
    background-color: white !important;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* new page */

form label {
        display: block !important;      /* Makes label take full width */
        margin-top: 10px !important;    /* Adds spacing above each field */
    }

    form input,
    form textarea,
    form button {
        display: block !important;      /* Make inputs and button full width */
        margin-top: 5px !important;     /* Small spacing from label */
        width: 100% !important;         /* Full width */
        max-width: 500px !important;    /* Limit width */
    }

    form {
        margin-top: 20px !important;
    }

    button {
        background-color: #fe424d !important;  /* Bootstrap danger red */
        color: white !important;
        border: none !important;
        padding: 10px !important;
        border-radius: 5px !important;
        cursor: pointer !important;
    }

    button:hover {
        background-color: #b02a37 !important;
    }
